.itemDetailContainer {
    ul {
        display: grid;
        place-items: center;
        list-style: none;

        li {
            width: 600px;
            height: 300px;
            padding: 10px 15px;
            background-color: #edd7bc;
            box-shadow: 0px 5px 10px #ececed;
            text-align: center;
            margin: 10px 15px;
            border-radius: 10px;
            transition: all ease-in-out 0.2s;
            display: flex;

            .imgContainer {
                height: 250px;
                width: 250px;
                margin: auto;
                border: solid 1px black;

                img {
                    height: 100%;
                }
            }

            .detailContainer {
                display: grid;
                place-items: center;
                height: 200px;
                width: 200px;
                margin: auto;
                border: solid 1px black;
            }
        }

        li:hover {
            cursor: pointer;
            box-shadow: 0px 6px 5px #dedede;
            transform: scale(1.02);
        }

    }
}