.cart {
    background-color: #fcecd7;
}

.titleContainer {
    height: 150px;
    display: grid;
    place-items: center;
    h2 {
        height: 50px;
    }

}


.itemListContainer {
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;

        li {
            width: 250px;
            padding: 10px 15px;
            background-color: #edd7bc;
            box-shadow: 0px 5px 10px #ececed;
            text-align: center;
            margin: 10px 15px;
            border-radius: 10px;
            transition: all ease-in-out 0.2s;
            .imgContainer {
                height: 200px;
                width: 200px;
                margin: auto;
                border: solid 1px black;
                img {
                    height: 100%;
                }
            }
        }

        li:hover {
            cursor: pointer;
            box-shadow: 0px 6px 5px #dedede;
            transform: translateY(-5px) translateX(-5px);
        }

    }
}